$color-1: #21C2F8;
$color-2: #FFFFFF;
$color-3: #222533;
$color-4: #F39705;
$color-5: #E25611;
$color-6: #9A2C4A;
$color-7: #97C200;
$color-8: #3D4C53;
$color-9: #62A783;
$color-10: #F82F54;
$color-11: #8FC567;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.row {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 0;

    .btn {
        margin-top: 20px;
        margin-right: 29px;
        padding: 8px 37px 9px;
        background-color: $color-1;
        color: $color-2;
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        font-weight: 900;
        line-height: 24px;
        text-decoration: none;
        border: none;
        text-transform: uppercase;
        cursor: pointer;

        &:last-child {
            margin-right:0;
        }
        &:hover {
            background-color:$color-3;
        }
    
        &.medium {
            padding: 14px 48px 14px 47px;
            font-size:18px;
        }
    
        &.large {
            font-size: 26px;
            padding: 26px 95px 30px;
        }
    
        &.x-large {
            font-size: 36px;
            padding: 38px 102px 39px;
        }
        &.round{
            &-3 {
                border-radius: 3px;
            }
            &-7 {
                border-radius: 7px;
            }
            &-12 {
                border-radius: 12px;
            }
            &-20 {
                border-radius: 20px;
            }
        }
        &.bg-color{
            &-1 {
                background-color: $color-1;
            }
            &-2 {
                background-color: $color-2;
            }
            &-3 {
                background-color: $color-3;
            }
            &-4 {
                background-color: $color-4;
            }
            &-5 {
                background-color: $color-5;
            }
            &-6 {
                background-color: $color-6;
            }
            &-7 {
                background-color: $color-7;
            }
            &-8 {
                background-color: $color-8;
            }
            &-9 {
                background-color: $color-9;
            }
            &-10 {
                background-color: $color-10;
            }
            &-11 {
                background-color: $color-11;
            }
        }
        &:hover {
            background-color:$color-3;
        }
    
    }
    
}
