.btn {
    margin-top: 20px;
    margin-right: 29px;

    @include size(14px, 8px, 37px, 9px);
    
    background-color: $color-1;
    color: $color-2;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    line-height: 24px;
    text-decoration: none;
    border: none;
    text-transform: uppercase;
    cursor: pointer;

    &:last-child {
        margin-right:0;
    }
    &:hover {
        background-color:$color-3;
    }

    &.medium {
        @include size(18px,14px, 95px, 14px, 47px);
    }

    &.large {
        @include size(26px,26px, 48px, 30px);
    }

    &.x-large {
        @include size(36px,38px, 102px, 39px);
    }
    &.round{
        &-3 {
            border-radius: 3px;
        }
        &-7 {
            border-radius: 7px;
        }
        &-12 {
            border-radius: 12px;
        }
        &-20 {
            border-radius: 20px;
        }
    }
    &.bg-color{
        &-1 {
            background-color: $color-1;
        }
        &-2 {
            background-color: $color-2;
        }
        &-3 {
            background-color: $color-3;
        }
        &-4 {
            background-color: $color-4;
        }
        &-5 {
            background-color: $color-5;
        }
        &-6 {
            background-color: $color-6;
        }
        &-7 {
            background-color: $color-7;
        }
        &-8 {
            background-color: $color-8;
        }
        &-9 {
            background-color: $color-9;
        }
        &-10 {
            background-color: $color-10;
        }
        &-11 {
            background-color: $color-11;
        }
    }
    &:hover {
        background-color:$color-3;
    }

}